@using UNASP.MBarber.UI.Web.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MBarber | Login</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box-custom text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <img src="~/Content/img/logo_01.png" />
            </div>
            <h3>Bem Vindo ao MBarber</h3>
            <p>
                
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>
            <p>Login</p>
            @using (Html.BeginForm("Autenticar", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.AntiForgeryToken()
                if (ViewBag.Error == true)
                {
                    @Html.ValidationMessage("login.Invalido", "", new { @class = "text-danger", @style = "color:red;" })
                }
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail", required = "required" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control", placeholder = "Senha", required = "required" })
                    @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                @*<a href="#"><small>Forgot password?</small></a>*@
                <p class="text-muted text-center"><small>Ainda não tem uma conta?</small></p>
                @Html.ActionLink("Registrar", "CriarAcesso", null, new { @class = "btn btn-sm btn-white btn-block" })
            }
            <p class="m-t"> <small>MBarber &copy; 2018</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

</body>

</html>
