@model IEnumerable<UNASP.MBarber.UI.Web.Models.EmpresaModel>
@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="~/Content/css/plugins/slick/slick.css" rel="stylesheet">
    <link href="~/Content/css/plugins/slick/slick-theme.css" rel="stylesheet">
    <style type="text/css">
        .slick-slide img {
            width: 100%;
        }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Lista de barbearias</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Página inicial</a>
            </li>
            <li class="active">
                <strong>Barbearias</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox product-detail">
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-5">


                                <div class="product-images">
                                    <div>
                                        <img src='@Url.Action("Show", "Imagem", new { id = item.Imagem.Id })' />
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-7">

                                <h2 class="font-bold m-b-xs">
                                    @item.Nome
                                </h2>
                                <small>Many desktop publishing packages and web page editors now.</small>
                                <hr>

                                <h4>Product description</h4>

                                <div class="small text-muted">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is

                                    <br />
                                    <br />
                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words
                                    which don't look even slightly believable.
                                </div>
                                <dl class="small m-t-md">
                                    <dt>Endereço</dt>
                                    <dd>@item.Endereco.Logradouro, @item.Endereco.Numero - @item.Endereco.Bairro - @item.Endereco.Cidade, @item.Endereco.Estado</dd>
                                </dl>
                                <hr>

                                <div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm"><i class="fa fa-search"></i> Detalhes</button>
                                        <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Favoritos </button>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                    <div class="ibox-footer clearfix">
                        <span class="pull-right">
                            Data inclusão - <i class="fa fa-clock-o"></i> @item.DataInclusao
                        </span>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

@section Scripts {
    <!-- slick carousel-->
    <script src="~/Content/js/plugins/slick/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.product-images').slick({
                dots: true
            });
        });
    </script>
}