@model UNASP.MBarber.UI.Web.Models.EmpresaModel

@{
    ViewBag.Title = "Novo";
}

@section Styles {
    <link href="~/Content/css/plugins/iCheck/custom.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet" />

    <link href="~/Content/css/plugins/summernote/summernote.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/summernote/summernote-bs3.css" rel="stylesheet" />
    <style type="text/css">
        .wizard-big.wizard > .content {
            height:auto;
            min-height: 600px;
        }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Nova Barbearia</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Página inicial</a>
            </li>
            <li class="active">
                <strong>Novo produto</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="#" class="btn btn-primary">This is action area</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <p>Informe abaixo os dados da Barbearia</p>
        @using (Html.BeginForm("Novo", "Barber", FormMethod.Post, new { @class = "wizard-big", id = "form", enctype = "multipart/form-data" }))
    {
        <h1>Dados do Negócio</h1>
        <fieldset>
            <h2>Informações do Negócio</h2>
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <!--@Html.LabelFor(e => e.Nome)-->
                            <label>Nome</label>
                            @Html.TextBoxFor(e => e.Nome, new { @class = "form-control", placeholder = "Nome da Empresa" })
                        </div>
                        <div class="form-group">
                            <!--@Html.LabelFor(e => e.NomeReduzido)-->
                            <label>Nome Reduzido</label>
                            @Html.TextBoxFor(e => e.NomeReduzido, new { @class = "form-control", placeholder = "Nome Reduzido" })
                        </div>
                        <div class="form-group">
                            <!--@Html.LabelFor(e => e.Cnpj)-->
                            <label>CNPJ</label>
                            @Html.TextBoxFor(e => e.Cnpj, new { @class = "form-control", placeholder = "CNPJ" })
                        </div>
                        <div class="form-group">
                            <label for="Servicos" id="tiposServicos">Tipos de serviços oferecidos</label>
                            <label for="Servicos" generated="true" class="error"></label>
                            @foreach (var item in ViewBag.TiposServicos)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="Servicos"
                                           value="@item.Id" /> @item.Descricao
                                    </label>
                                </div>
                        }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div style="margin-top: 20px">
                            <i class="fa fa-scissors" style="font-size: 300px;color: #e5e5e5 "></i>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <h1>Endereço</h1>
        <fieldset>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.Endereco.Cep)
                    @Html.TextBoxFor(x => x.Endereco.Cep, new { @class = "form-control", placeholder = "CEP", data_mask = "99999-999", id = "cep", onblur = "pesquisacep(this.value); " })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Endereco.Logradouro)
                    @Html.TextBoxFor(x => x.Endereco.Logradouro, new { @class = "form-control", placeholder = "Rua", id = "rua" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Endereco.Bairro)
                    @Html.TextBoxFor(x => x.Endereco.Bairro, new { @class = "form-control", placeholder = "Bairro", id = "bairro" })
                </div>

            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.Endereco.Numero)
                    @Html.TextBoxFor(x => x.Endereco.Numero, new { @class = "form-control", placeholder = "Numero", id = "numero" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Endereco.Complemento)
                    @Html.TextBoxFor(x => x.Endereco.Complemento, new { @class = "form-control", placeholder = "Complemento" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Endereco.Cidade)
                    @Html.TextBoxFor(x => x.Endereco.Cidade, new { @class = "form-control", placeholder = "Cidade", id = "cidade" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Endereco.Estado)
                    @Html.TextBoxFor(x => x.Endereco.Estado, new { @class = "form-control", placeholder = "Estado", id = "uf" })
                </div>
            </div>
        </fieldset>

        <h1>Perfil</h1>
        <fieldset>
            <h2>Informação de Login e Perfil</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1" id="labelTeste" style="padding-left:0">Imagem da Barbearia</label>
                        <div class="fileinput fileinput-new col-xs-12" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                                <img src="https://s3.amazonaws.com/popco/images/services/starter-page/img-round-placeholder.jpg" alt="Imagem da Barbearia" />
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                            <div>
                                <span class="btn btn-default btn-file"><span class="fileinput-new">Selecionar</span><span class="fileinput-exists">Trocar</span><input type="file" name="file" class="required" /></span>
                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Email *</label>
                        <input id="email" type="text" class="form-control email" />
                    </div>
                    <div class="form-group">
                        <label>Telefone *</label>
                        <input id="email" type="text" class="form-control email" />
                    </div>
                </div>
            </div>
        </fieldset>

        <h1>Confirmar</h1>
        <fieldset>
            <h2>Termos e Condições de Uso</h2>
            <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required" /> <label for="Concordar">Eu concordo com os Termos e condições do MBarber.</label>
        </fieldset>
}
    </div>
</div>

@section Scripts {
    <script src="~/Content/js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- Steps -->
    <script src="~/Content/js/plugins/steps/jquery.steps.min.js"></script>

    <!-- Jquery Validate -->
    <script src="~/Content/js/plugins/validate/jquery.validate.min.js"></script>

    <!-- SUMMERNOTE -->
    <script src="~/Content/js/plugins/summernote/summernote.min.js"></script>
    <!-- CEP MASTER -->
    <script src="~/Scripts/cep.js"></script>
    <!-- Custom -->
    <script>
        $(document).ready(function () {

            $('#summernote').summernote();

            $.extend($.validator.messages, {
                required: "Campo obrigatório.",
                remote: "Campo Inválido.",
                email: "E-mail inválido",
                url: "URL inválida.",
                date: "Data inválida.",
                number: "Valor inválido.",
                equalTo: "Please enter the same value again.",
                accept: "Please enter a value with a valid extension.",
                maxlength: $.validator.format("Por favor  no more than {0} characters."),
                minlength: $.validator.format("Please enter at least {0} characters."),
                rangelength: $.validator.format("Please enter a value between {0} and {1} characters long."),
                range: $.validator.format("Please enter a value between {0} and {1}."),
                max: $.validator.format("Please enter a value less than or equal to {0}."),
                min: $.validator.format("Please enter a value greater than or equal to {0}.")
            });

            $('#form').validate({ // initialize the plugin
                rules: {
                    'Servicos': {
                        required: false,
                    }
                },
                messages: {
                    'Servicos': {
                        required: "Você precisa selecionar ao menos 1 serviço",
                    }
                }
            });

            $("#form").steps({
                bodyTag: "fieldset",
                labels: {
                    current: "passo atual:",
                    pagination: "Paginação",
                    finish: "Enviar",
                    next: "Próximo",
                    previous: "Anterior",
                    loading: "Carregando ..."
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            });
        });
    </script>
}