@using DataMbarber
@model Cliente


<label>@ViewBag.Message</label>
    <form id="frm" method="post" action="/Cliente/Save">

        <table>
                <tr>
                <td>
                    @Html.LabelFor(model => model.CLiCPF)</td>
                <td>
                    @Html.EditorFor(model => model.CLiCPF)</td>                    
                </tr>            
            <tr>
                <td><label>CliNome</label></td>
                <td><input required="" type="text" id="CliNome" name="CliNome"
                           value="@Model.CliNome" /></td>
            </tr>
            <tr>
                <td><label>CliSobreNome</label></td>
                <td>
                    <input required="" type="text" id="CliSobreNome" name="CliSobreNome"
                           value="@Model.CliSobreNome" />
                </td>
            </tr>
            <tr>
                <td><label>CliTelefone</label></td>
                <td><input type="text" id="CliTelefone" name="CliTelefone" 
                           value="@Model.CliTelefone"/></td>
            </tr> 

        </table> 
            <input type="submit" value="Enviar Dados" />

    </form>
<form id="frmdel" method="post" action="/Cliente/Delete">
    <input  type="hidden" id="CLiCPF" name="CLiCPF"
           value="@Model.CLiCPF" />
    <input type="submit" value="Excluir" />
</form>