@using DataMbarber
@model Cliente
<table>
    <tr>
        <td>
            @Html.LabelFor(model => model.CLiCPF)
        </td>
        <td>
            <input id="CLiCPF" name="CLiCPF" type="text" value="@Model.CLiCPF" />
        </td>
    </tr>

    <tr>
        <td><label>CliNome</label></td>
        <td>
            <input required="" type="text" id="CliNome" name="CliNome"
                   value="@Model.CliNome" />
        </td>
    </tr>
    <tr>
        <td><label>CliSobreNome</label></td>
        <td>
            <input required="" type="text" id="CliSobreNome" name="CliSobreNome"
                   value="@Model.CliSobreNome" />
        </td>
    </tr>
    


    <tr>
        <td><label>CliTelefone</label></td>
        <td>
            <input type="text" id="CliTelefone" name="CliTelefone"
                   value="@Model.CliTelefone" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button onclick="SalvarDados();">Salvar</button>
            <button onclick="ExcluirDados();">Excluir</button>
        </td>
    </tr>
</table> 




<script>

    function SalvarDados() {

        // prepara a o Objeto Json
        var cliente = {
            CLiCPF: $('#CLiCPF').val(),
            CliNome: $('#CliNome').val(),
            CliSobreNome: $('#CliSobreNome').val(),
            CliTelefone: $('#CliTelefone').val()
        };
        // enviar dados para serem salvos
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("SaveJson","Cliente")',
            data: { c: cliente },
            success: function (clientesend) {
                if (clientesend.success) {
                    alert('O registro foi salvo com o Código: ' + clientesend.Data.CLiCPF);
                    LimparDados();
                }
                else {
                    var msg = "<div class='alert alert-danger'>"
                        + clientesend.message
                        + "</div>";
                    $('#lblMensagem').html(msg);
                }

            },
            error: function (resposta) {
                alert(resposta.responseText);
            }
        });
    }

    function LimparDados() {
        // Limpe todos os dados da tela
        $(':input').val('');
    }



    function ExcluirDados() {
        var cliente = {
            CLiCPF: $('#CLiCPF').val()
            alert(CLiCPF);
        };
        /// eviar para c#pess
        $.ajax({
            datatype: 'json',
            type: 'POST',
            url: '@Url.Action("DeleteJson", "Cliente")',
            data: { e: cliente },
            success: function (data) {
                if (data.success == true) {
                    alert('Removido');
                }
                else {
                    alert(data.message);
                }
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }





</script>
